<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trip</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/tripTemplate.css}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script th:src="@{/scripts/tripTemplate.js}"></script>


</head>
<body class=" mb-3 box text-bg-secondary">
    <div id="main" class=" mb-3 box text-bg-secondary">
        <main id="content" class="clearfix mb-3 box text-bg-secondary">

            <img id="loading" src="img/loading.webp" alt="Loading...">

            <div id="body-area-div">
                <div class="information-container">
                    <div class="information-text">Information ⓘ</div>

                    <div class="additional-information  mb-3 box text-bg-secondary">
                        <p>This is program made for hobby, I apologise for any bugs in advance.</p>
                        <p>Compare carefully the final result, it can be off by a few cents when dealing with decimal fractions.</p>
                        <p>Good luck!</p>
                    </div>
                </div>

                <form action="/showImages" method="post" th:object="${bTrip}" id="tripForm">
                    <fieldset class="clearfix">
                        <section id="form-left-div">
                            <section id="commonFields-div">
                                <section class="common-fields-container mb-3 box text-bg-secondary" id="common-fields-div">

                                    <div class="common-field-box mb-3 box text-bg-secondary p-3" id="name-div">
                                        <label for="fullName" class="form-label">Full Name:</label>
                                        <input type="text" th:field="*{fullName}" class="form-control" id="fullName">
                                    </div>

                                    <div class="common-field-box mb-3 box text-bg-secondary p-3" id="pers-number-div">
                                        <label for="personalNumber" class="form-label">Personal Number:</label>
                                        <input type="text" th:field="*{personalNumber}" class="form-control" id="personalNumber">
                                    </div>

                                    <div class="common-field-box mb-3 box text-bg-secondary p-3" id="position-div">
                                        <label for="position" class="form-label">Position:</label>
                                        <input type="text" th:field="*{position}" class="form-control" id="position">
                                    </div>

                                    <div class="common-field-box mb-3 box text-bg-secondary p-3" id="branch-div">
                                        <label for="branchIn" class="form-label">Branch In:</label>
                                        <input type="text" th:field="*{branchIn}" class="form-control" id="branchIn">
                                    </div>

                                    <div class="common-field-box mb-3 box text-bg-secondary p-3" id="year-div">
                                        <label for="year" class="form-label">Year:</label>
                                        <input type="number" th:field="*{whatYear}" class="form-control" id="year" min="2020" required>
                                    </div>

                                    <div class="common-field-box mb-3 box text-bg-secondary p-3" id="month-div">
                                        <label for="monthNumber" class="form-label">Month Number:</label>
                                        <input type="number" th:field="*{monthNumber}" class="form-control" id="monthNumber" aria-describedby="emailHelp" min="1" max="12" required>
                                    </div>

                                    <div class="common-field-box mb-3 box text-bg-secondary p-3" id="start-city-div">
                                        <label for="startCity" class="form-label">Start City:</label>
                                        <input type="text" th:field="*{startDestination}" class="form-control" id="startCity">
                                    </div>

                                    <div class="common-field-box mb-3 box text-bg-secondary p-3" id="end-city-div">
                                        <label for="endCity" class="form-label">End City:</label>
                                        <input type="text" th:field="*{endDestination}" class="form-control" id="endCity">
                                    </div>

                                    <div class="common-field-box mb-3 box text-bg-secondary p-3" id="trips-div">
                                        <label for="tripNumberThisMonth" class="form-label">Trip Number:</label>
                                        <input type="number" th:field="*{tripNumberThisMonth}" class="form-control" id="tripNumberThisMonth" min="1" required>
                                    </div>

                                    <div class="common-field-box mb-3 box text-bg-secondary p-3" id="head-employer-div">
                                        <label for="headEmployeeName" class="form-label">Head Name:</label>
                                        <input type="text" th:field="*{headEmployeeName}" class="form-control" id="headEmployeeName">
                                    </div>

                                    <div class="common-field-box mb-3 box text-bg-secondary p-3" id="reason-div">
                                        <label for="reason" class="form-label">Reason:</label>
                                        <input type="text" th:field="*{reason}" class="form-control" id="reason">
                                    </div>

                                    <div class="common-field-box mb-3 box text-bg-secondary p-3" id="days-div">
                                        <label for="numberOfDays" class="form-label">How Many Days:</label>
                                        <input type="number" th:field="*{numberOfDays}" class="form-control" id="numberOfDays" min="1"
                                               max="31" required>
                                    </div>

                                    <div class="common-field-box mb-3 box text-bg-secondary p-3" id="add-expenses-div">
                                        <label for="additionalExpenses" class="form-label">Additional Expenses:</label>
                                        <input type="number" th:field="*{additionalExpenses}" step="0.01" min="0.00" max="10000.00" class="form-control" id="additionalExpenses" aria-describedby="emailHelp" required>
                                    </div>

                                    <div class="common-field-box mb-3 box text-bg-secondary p-3" id="number-documents-div">
                                        <label for="numberDocuments" class="form-label">Number Of Documents:</label>
                                        <input type="number" th:field="*{numberDocuments}" step="1" min="0" max="100" class="form-control" id="numberDocuments" aria-describedby="emailHelp" required>
                                    </div>
                                </section>
                            </section>

                            <section id="nightStay-div" class=" mb-3 box text-bg-secondary">
                                <section id="nightStay-radio-div">
                                    <h3 id="daysLabel">With Night Stay?</h3>
                                    <input type="radio" th:field="*{isNightStayedInHotel}" th:value="false" name="nightPanel" value="false" onclick="showHideNightStayPanelDiv(this)" id="show-month-panel">
                                    <label for="show-month-panel">No</label>
                                    <input type="radio" th:field="*{isNightStayedInHotel}" th:value="true" name="nightPanel" value="true" onclick="showHideNightStayPanelDiv(this)" id="show-night-panel">
                                    <label for="show-night-panel">Yes</label>
                                </section>

                                <section class="hotel-panel-container mb-3 box text-bg-secondary">
                                    <div id="hotel-panel-div" class="hotel-box  mb-3 box text-bg-secondary"  style="display: none;">
                                        <div class="hotel-fields-container">

                                            <div class="hotel-field-box mb-3 box text-bg-secondary p-3">
                                                <label for="nightStayPrice" class="form-label">Night Stay Price:</label>
                                                <input type="number" th:field="*{nightStayPrice}" class="form-control" id="nightStayPrice" min="0">
                                            </div>

                                            <div class="hotel-field-box mb-3 box text-bg-secondary p-3">
                                                <label for="numberOfNights" class="form-label" id="numberOfNightsLabel">Number Of Nights
                                                    Stayed:</label>
                                                <input type="number" th:field="*{numberOfNightsStayed}" class="form-control" id="numberOfNights" aria-describedby="emailHelp"
                                                       min="1"
                                                       max="31">
                                            </div>

                                            <div class="hotel-field-box mb-3 box text-bg-secondary p-3">
                                                <label for="fromWhichDayField" class="form-label" >From Witch Day:</label>
                                                <input type="number" th:field="*{fromWhichDayField}" class="form-control" id="fromWhichDayField" aria-describedby="emailHelp"
                                                       min="1"
                                                       max="31">
                                            </div>

                                            <div class="hotel-field-box mb-3 box text-bg-secondary p-3">
                                                <label for="toWhichDayField" class="form-label">To Witch Day:</label>
                                                <input type="number" th:field="*{toWhichDayField}" class="form-control" id="toWhichDayField" aria-describedby="emailHelp"
                                                       min="1"
                                                       max="31">
                                            </div>

                                            <div class="hotel-field-box mb-3 box text-bg-secondary">
                                                <div class="mb-3 box text-bg-secondary">
                                                    <label class="form-check-label" for="isTravelOnFirstDay">Travel On First Day
                                                        <input class="form-check-input" th:field="*{isTravelOnFirstDay}" type="checkbox" value="" id="isTravelOnFirstDay"></label>
                                                </div>
                                                <div class="mb-3 box text-bg-secondary">
                                                    <label class="form-check-label" for="isTravelOnLastDay">Travel On Last Day
                                                        <input class="form-check-input" th:field="*{isTravelOnLastDay}" type="checkbox" value="" id="isTravelOnLastDay"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="month-panel-div" class="hotel-box  mb-3 box text-bg-secondary">
                                            <fieldset class="month-container">
                                                <legend>Select Days Of The Month</legend>

                                                <div class="day-box">
                                                    <label for="day1">Day 1</label>
                                                    <input type="checkbox" th:field="*{day1}" id="day1" name="selectedDays" value="1">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day2">Day 2</label>
                                                    <input type="checkbox" th:field="*{day2}" id="day2" name="selectedDays" value="2">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day3">Day 3</label>
                                                    <input type="checkbox" th:field="*{day3}" id="day3" name="selectedDays" value="3">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day4">Day 4</label>
                                                    <input type="checkbox" th:field="*{day4}" id="day4" name="selectedDays" value="4">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day5">Day 5</label>
                                                    <input type="checkbox" th:field="*{day5}" id="day5" name="selectedDays" value="5">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day6">Day 6</label>
                                                    <input type="checkbox" th:field="*{day6}" id="day6" name="selectedDays" value="6">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day7">Day 7</label>
                                                    <input type="checkbox" th:field="*{day7}" id="day7" name="selectedDays" value="7">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day8">Day 8</label>
                                                    <input type="checkbox" th:field="*{day8}" id="day8" name="selectedDays" value="8">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day9">Day 9</label>
                                                    <input type="checkbox" th:field="*{day9}" id="day9" name="selectedDays" value="9">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day10">Day 10</label>
                                                    <input type="checkbox" th:field="*{day10}" id="day10" name="selectedDays" value="10">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day11">Day 11</label>
                                                    <input type="checkbox" th:field="*{day11}" id="day11" name="selectedDays" value="11">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day12">Day 12</label>
                                                    <input type="checkbox" th:field="*{day12}" id="day12" name="selectedDays" value="12">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day13">Day 13</label>
                                                    <input type="checkbox" th:field="*{day13}" id="day13" name="selectedDays" value="13">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day14">Day 14</label>
                                                    <input type="checkbox" th:field="*{day14}" id="day14" name="selectedDays" value="14">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day15">Day 15</label>
                                                    <input type="checkbox" th:field="*{day15}" id="day15" name="selectedDays" value="15">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day16">Day 16</label>
                                                    <input type="checkbox" th:field="*{day16}" id="day16" name="selectedDays" value="16">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day17">Day 17</label>
                                                    <input type="checkbox" th:field="*{day17}" id="day17" name="selectedDays" value="17">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day18">Day 18</label>
                                                    <input type="checkbox" th:field="*{day18}" id="day18" name="selectedDays" value="18">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day19">Day 19</label>
                                                    <input type="checkbox" th:field="*{day19}" id="day19" name="selectedDays" value="19">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day20">Day 20</label>
                                                    <input type="checkbox" th:field="*{day20}" id="day20" name="selectedDays" value="20">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day21">Day 21</label>
                                                    <input type="checkbox" th:field="*{day21}" id="day21" name="selectedDays" value="21">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day22">Day 22</label>
                                                    <input type="checkbox" th:field="*{day22}" id="day22" name="selectedDays" value="22">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day23">Day 23</label>
                                                    <input type="checkbox" th:field="*{day23}" id="day23" name="selectedDays" value="23">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day24">Day 24</label>
                                                    <input type="checkbox" th:field="*{day24}" id="day24" name="selectedDays" value="24">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day25">Day 25</label>
                                                    <input type="checkbox" th:field="*{day25}" id="day25" name="selectedDays" value="25">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day26">Day 26</label>
                                                    <input type="checkbox" th:field="*{day26}" id="day26" name="selectedDays" value="26">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day27">Day 27</label>
                                                    <input type="checkbox" th:field="*{day27}" id="day27" name="selectedDays" value="27">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day28">Day 28</label>
                                                    <input type="checkbox" th:field="*{day28}" id="day28" name="selectedDays" value="28">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day29">Day 29</label>
                                                    <input type="checkbox" th:field="*{day29}" id="day29" name="selectedDays" value="29">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day30">Day 30</label>
                                                    <input type="checkbox" th:field="*{day30}" id="day30" name="selectedDays" value="30">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day31">Day 31</label>
                                                    <input type="checkbox" th:field="*{day31}" id="day31" name="selectedDays" value="31">
                                                </div>
                                            </fieldset>
                                    </div>
                                </section>
                            </section>
                        </section>

                        <section id="form-right-div">
                            <section id="buttonPlusVeh">
                                <section id="vehicle-radio-div" class=" mb-3 box text-bg-secondary">
                                    <h3>Did You Travel With Your Vehicle?</h3>
                                    <label for="isTravel">
                                        <input type="radio" name="travelRadio" id="isTravel" value="showVehPanel" onclick="showHideVehPanelDiv(this)" th:field="*{isTravelWithYourVehicle}" th:value="true">
                                        Yes</label>
                                    <label for="isNotTravel">
                                        <input type="radio" name="travelRadio"  id="isNotTravel" value="hideVehPanel" onclick="showHideVehPanelDiv(this)" th:field="*{isTravelWithYourVehicle}" th:value="false">
                                        No</label>
                                </section>

                                <section id="vehicle-panel-div" class="mb-3 box text-bg-secondary" >
                                    <div id="veh-make-div" class="mb-3 box text-bg-secondary ">
                                        <label for="makeAndModel" class="form-label">Make And Model:</label>
                                        <input type="text" th:field="*{makeAndModel}" class="form-control" id="makeAndModel">
                                    </div>

                                    <div id="veh-category-div" class="mb-3 box text-bg-secondary ">
                                        <label for="category" class="form-label">Category:</label>
                                        <input type="text" th:field="*{category}" class="form-control" id="category">
                                    </div>

                                    <div id="veh-regN-div" class="mb-3 box text-bg-secondary ">
                                        <label for="regNumber" class="form-label">Registration Number:</label>
                                        <input type="text" th:field="*{registrationNumber}" class="form-control" id="regNumber">
                                    </div>

                                    <div id="veh-costBy100-div" class="mb-3 box text-bg-secondary ">
                                        <label for="costBy100" class="form-label">Cost By 100km:</label>
                                        <input type="number" th:field="*{costBy100}" class="form-control" id="costBy100">
                                    </div>

                                    <div id="veh-fuelType-div" class="mb-3 box text-bg-secondary ">
                                        <label for="fuelType" class="form-label">Fuel Type:</label>
                                        <input type="text" th:field="*{fuelType}" class="form-control" id="fuelType">
                                    </div>

                                    <div id="veh-fuelPrice-div" class="mb-3 box text-bg-secondary ">
                                        <label for="fuelPrice" class="form-label">Fuel Price:</label>
                                        <input type="number" th:field="*{fuelPrice}" step="0.01" min="0.01" max="100.00" class="form-control" id="fuelPrice">
                                    </div>

                                    <div id="veh-kilometers-div" class="mb-3 box text-bg-secondary ">
                                        <label for="kilometers" class="form-label">Kilometers:</label>
                                        <input type="number" th:field="*{kilometers}" class="form-control" id="kilometers">
                                    </div>
                                </section>
                            </section>
                        </section>
                    </fieldset>
                    <button id="btn" onclick="validateBusinessTrip(this);" type="submit" class="btn p-3 mb-2 bg-warning text-dark">Submit</button>
                </form>
            </div>
        </main>
    </div>

</body>

