<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trip Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script th:src="@{/scripts/tripTemplate.js}"></script>
    <link rel="stylesheet" th:href="@{/css/tripTemplate.css}">
</head>


<body class=" mb-3 box text-bg-secondary d-flex flex-column min-vh-100 " >
    <div id="main" class=" mb-3 box text-bg-secondary">
        <main id="content" class="clearfix mb-3 box text-bg-secondary">

            <div id="body-area-div">
                <div class="information-container">
                    <div class="information-text">Информация ⓘ</div>

                    <div class="additional-information  mb-3 box text-bg-secondary">
                        <p>Този сайт е направен за хоби и упражнение, възможни са бъгове/грешки.</p>
                        <p>Проверявайте си данните преди да ги изпратите.</p>
                        <p>Поздрави и успех!</p>
                    </div>
                </div>

                <form th:action="@{/showImages}" method="post" th:object="${bTrip}" id="tripForm">
                    <fieldset class="clearfix">
                        <section id="form-left-div">
                            <section id="commonFields-div">
                                <section class="common-fields-container mb-3 box text-bg-secondary" id="common-fields-div">

                                    <div class="common-field-box mb-3 box text-bg-secondary p-3" id="name-div">
                                        <label for="fullName" class="form-label">Три Имена:</label>
                                        <input type="text" th:field="*{fullName}" class="form-control" id="fullName">
                                    </div>

                                    <div class="common-field-box mb-3 box text-bg-secondary p-3" id="pers-number-div">
                                        <label for="personalNumber" class="form-label">Персонален Номер:</label>
                                        <input type="text" th:field="*{personalNumber}" class="form-control" id="personalNumber">
                                    </div>

                                    <div class="common-field-box mb-3 box text-bg-secondary p-3" id="position-div">
                                        <label for="position" class="form-label">Позиция:</label>
                                        <input type="text" th:field="*{position}" class="form-control" id="position">
                                    </div>

                                    <div class="common-field-box mb-3 box text-bg-secondary p-3" id="branch-div">
                                        <label for="branchIn" class="form-label">Филиал на командировката:</label>
                                        <input type="text" th:field="*{branchIn}" class="form-control" id="branchIn">
                                    </div>

                                    <div class="common-field-box mb-3 box text-bg-secondary p-3" id="year-div">
                                        <label for="year" class="form-label">Година:</label>
                                        <input type="number" th:field="*{whatYear}" class="form-control" id="year" min="2020" required>
                                    </div>

                                    <div class="common-field-box mb-3 box text-bg-secondary p-3" id="month-div">
                                        <label for="monthNumber" class="form-label">Месец:</label>
                                        <input type="number" th:field="*{monthNumber}" class="form-control" id="monthNumber" aria-describedby="emailHelp" min="1" max="12" required>
                                    </div>

                                    <div class="common-field-box mb-3 box text-bg-secondary p-3" id="start-city-div">
                                        <label for="startCity" class="form-label">Начален Град:</label>
                                        <input type="text" th:field="*{startDestination}" class="form-control" id="startCity">
                                    </div>

                                    <div class="common-field-box mb-3 box text-bg-secondary p-3" id="end-city-div">
                                        <label for="endCity" class="form-label">Краен Град:</label>
                                        <input type="text" th:field="*{endDestination}" class="form-control" id="endCity">
                                    </div>

                                    <div class="common-field-box mb-3 box text-bg-secondary p-3" id="trips-div">
                                        <label for="tripNumberThisMonth" class="form-label">Командировки Този Месец:</label>
                                        <input type="number" th:field="*{tripNumberThisMonth}" class="form-control" id="tripNumberThisMonth" min="1" required>
                                    </div>

                                    <div class="common-field-box mb-3 box text-bg-secondary p-3" id="head-employer-div">
                                        <label for="headEmployeeName" class="form-label">Име На Ръководител:</label>
                                        <input type="text" th:field="*{headEmployeeName}" class="form-control" id="headEmployeeName">
                                    </div>

                                    <div class="common-field-box mb-3 box text-bg-secondary p-3" id="reason-div">
                                        <label for="reason" class="form-label">Причина:</label>
                                        <input type="text" th:field="*{reason}" class="form-control" id="reason">
                                    </div>

                                    <div class="common-field-box mb-3 box text-bg-secondary p-3" id="days-div">
                                        <label for="numberOfDays" class="form-label">За Колко Дни:</label>
                                        <input type="number" th:field="*{numberOfDays}" class="form-control" id="numberOfDays" min="1"
                                               max="31" required>
                                    </div>

                                    <div class="common-field-box mb-3 box text-bg-secondary p-3" id="add-expenses-div">
                                        <label for="additionalExpenses" class="form-label">Допълнителни Разходи:</label>
                                        <input type="number" th:field="*{additionalExpenses}" step="0.01" min="0.00" max="10000.00" class="form-control" id="additionalExpenses" aria-describedby="emailHelp" required>
                                    </div>

                                    <div class="common-field-box mb-3 box text-bg-secondary p-3" id="number-documents-div">
                                        <label for="numberDocuments" class="form-label">Бр. Разходни Док.:</label>
                                        <input type="number" th:field="*{numberDocuments}" step="1" min="0" max="100" class="form-control" id="numberDocuments" aria-describedby="emailHelp" required>
                                    </div>
                                </section>
                            </section>

                            <section id="nightStay-div" class=" mb-3 box text-bg-secondary">
                                <section id="nightStay-radio-div">
                                    <h3 id="daysLabel">С Нощувка?</h3>
                                    <input type="radio" th:field="*{isNightStayedInHotel}" th:value="false" value="false" name="nightPanel" id="show-month-panel" onclick="showHideNightStayPanelDiv(this)" checked>
                                    <label for="show-month-panel">Не</label>
                                    <input type="radio" th:field="*{isNightStayedInHotel}" th:value="true" value="true" name="nightPanel" id="show-night-panel" onclick="showHideNightStayPanelDiv(this)">
                                    <label for="show-night-panel">Да</label>

                                </section>

                                <section class="hotel-panel-container mb-3 box text-bg-secondary">
                                    <div id="hotel-panel-div" class="hotel-box  mb-3 box text-bg-secondary"  style="display: none;">
                                        <div class="hotel-fields-container">

                                            <div class="hotel-field-box mb-3 box text-bg-secondary p-3">
                                                <label for="nightStayPrice" class="form-label">Цена За Нощувка:</label>
                                                <input type="number" th:field="*{nightStayPrice}" class="form-control" id="nightStayPrice" min="0">
                                            </div>

                                            <div class="hotel-field-box mb-3 box text-bg-secondary p-3">
                                                <label for="numberOfNights" class="form-label" id="numberOfNightsLabel">Брой Нощувки:</label>
                                                <input type="number" th:field="*{numberOfNightsStayed}" class="form-control" id="numberOfNights" aria-describedby="emailHelp"
                                                       min="1"
                                                       max="31">
                                            </div>

                                            <div class="hotel-field-box mb-3 box text-bg-secondary p-3">
                                                <label for="fromWhichDayField" class="form-label" >От кой Ден:</label>
                                                <input type="number" th:field="*{fromWhichDayField}" class="form-control" id="fromWhichDayField" aria-describedby="emailHelp"
                                                       min="0"
                                                       max="31" value="0">
                                            </div>

                                            <div class="hotel-field-box mb-3 box text-bg-secondary p-3">
                                                <label for="toWhichDayField" class="form-label">До Кой Ден:</label>
                                                <input type="number" th:field="*{toWhichDayField}" class="form-control" id="toWhichDayField" aria-describedby="emailHelp"
                                                       min="0"
                                                       max="31" value="0">
                                            </div>

                                            <div class="hotel-field-box mb-3 box text-bg-secondary">
                                                <div class="mb-3 box text-bg-secondary">
                                                    Пътуване Първа Дата?
                                                    <label class="form-check-label" for="isTravelOnFirstDay">
                                                        <input class="form-check-input" th:field="*{isTravelOnFirstDay}" type="checkbox" id="isTravelOnFirstDay"></label>
                                                </div>
                                                <div class="mb-3 box text-bg-secondary">
                                                    Пътуване Крайна Дата?
                                                    <label class="form-check-label" for="isTravelOnLastDay">
                                                        <input class="form-check-input" th:field="*{isTravelOnLastDay}" type="checkbox" id="isTravelOnLastDay"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="month-panel-div" class="hotel-box  mb-3 box text-bg-secondary">
                                            <fieldset class="month-container">
                                                <legend>Изберете Дните В Командировка</legend>

                                                <div class="day-box">
                                                    <label for="day1">Ден 1</label>
                                                    <input type="checkbox" th:field="*{day1}" id="day1" name="selectedDays">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day2">Ден 2</label>
                                                    <input type="checkbox" th:field="*{day2}" id="day2" name="selectedDays">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day3">Ден 3</label>
                                                    <input type="checkbox" th:field="*{day3}" id="day3" name="selectedDays">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day4">Ден 4</label>
                                                    <input type="checkbox" th:field="*{day4}" id="day4" name="selectedDays">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day5">Ден 5</label>
                                                    <input type="checkbox" th:field="*{day5}" id="day5" name="selectedDays">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day6">Ден 6</label>
                                                    <input type="checkbox" th:field="*{day6}" id="day6" name="selectedDays">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day7">Ден 7</label>
                                                    <input type="checkbox" th:field="*{day7}" id="day7" name="selectedDays">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day8">Ден 8</label>
                                                    <input type="checkbox" th:field="*{day8}" id="day8" name="selectedDays">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day9">Ден 9</label>
                                                    <input type="checkbox" th:field="*{day9}" id="day9" name="selectedDays">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day10">Ден 10</label>
                                                    <input type="checkbox" th:field="*{day10}" id="day10" name="selectedDays">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day11">Ден 11</label>
                                                    <input type="checkbox" th:field="*{day11}" id="day11" name="selectedDays">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day12">Ден 12</label>
                                                    <input type="checkbox" th:field="*{day12}" id="day12" name="selectedDays">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day13">Ден 13</label>
                                                    <input type="checkbox" th:field="*{day13}" id="day13" name="selectedDays">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day14">Ден 14</label>
                                                    <input type="checkbox" th:field="*{day14}" id="day14" name="selectedDays">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day15">Ден 15</label>
                                                    <input type="checkbox" th:field="*{day15}" id="day15" name="selectedDays">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day16">Ден 16</label>
                                                    <input type="checkbox" th:field="*{day16}" id="day16" name="selectedDays">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day17">Ден 17</label>
                                                    <input type="checkbox" th:field="*{day17}" id="day17" name="selectedDays">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day18">Ден 18</label>
                                                    <input type="checkbox" th:field="*{day18}" id="day18" name="selectedDays">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day19">Ден 19</label>
                                                    <input type="checkbox" th:field="*{day19}" id="day19" name="selectedDays">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day20">Ден 20</label>
                                                    <input type="checkbox" th:field="*{day20}" id="day20" name="selectedDays">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day21">Ден 21</label>
                                                    <input type="checkbox" th:field="*{day21}" id="day21" name="selectedDays">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day22">Ден 22</label>
                                                    <input type="checkbox" th:field="*{day22}" id="day22" name="selectedDays">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day23">Ден 23</label>
                                                    <input type="checkbox" th:field="*{day23}" id="day23" name="selectedDays">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day24">Ден 24</label>
                                                    <input type="checkbox" th:field="*{day24}" id="day24" name="selectedDays">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day25">Ден 25</label>
                                                    <input type="checkbox" th:field="*{day25}" id="day25" name="selectedDays">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day26">Ден 26</label>
                                                    <input type="checkbox" th:field="*{day26}" id="day26" name="selectedDays">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day27">Ден 27</label>
                                                    <input type="checkbox" th:field="*{day27}" id="day27" name="selectedDays">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day28">Ден 28</label>
                                                    <input type="checkbox" th:field="*{day28}" id="day28" name="selectedDays">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day29">Ден 29</label>
                                                    <input type="checkbox" th:field="*{day29}" id="day29" name="selectedDays">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day30">Ден 30</label>
                                                    <input type="checkbox" th:field="*{day30}" id="day30" name="selectedDays">
                                                </div>

                                                <div class="day-box">
                                                    <label for="day31">Ден 31</label>
                                                    <input type="checkbox" th:field="*{day31}" id="day31" name="selectedDays">
                                                </div>
                                            </fieldset>
                                    </div>
                                </section>
                            </section>
                        </section>

                        <section id="form-right-div">
                            <section id="buttonPlusVeh">
                                <section id="vehicle-radio-div" class=" mb-3 box text-bg-secondary">
                                    <h3>Пътувахте Ли с Ваше Превозно Средство?</h3>
                                    <label for="isTravel">
                                        <input type="radio" name="travelRadio" id="isTravel" value="showVehPanel" onclick="showHideVehPanelDiv(this)" th:field="*{isTravelWithYourVehicle}" th:value="true">
                                        Да</label>
                                    <label for="isNotTravel">
                                        <input type="radio" name="travelRadio"  id="isNotTravel" value="hideVehPanel" onclick="showHideVehPanelDiv(this)" th:field="*{isTravelWithYourVehicle}" th:value="false">
                                        Не</label>
                                </section>

                                <section id="vehicle-panel-div" class="mb-3 box text-bg-secondary" >
                                    <div id="veh-make-div" class="mb-3 box text-bg-secondary ">
                                        <label for="makeAndModel" class="form-label">Марка и Модел:</label>
                                        <input type="text" th:field="*{makeAndModel}" class="form-control" id="makeAndModel">
                                    </div>

                                    <div id="veh-category-div" class="mb-3 box text-bg-secondary ">
                                        <label for="category" class="form-label">Категория:</label>
                                        <input type="text" th:field="*{category}" class="form-control" id="category">
                                    </div>

                                    <div id="veh-regN-div" class="mb-3 box text-bg-secondary ">
                                        <label for="regNumber" class="form-label">Регистрационен номер:</label>
                                        <input type="text" th:field="*{registrationNumber}" class="form-control" id="regNumber">
                                    </div>

                                    <div id="veh-costBy100-div" class="mb-3 box text-bg-secondary ">
                                        <label for="costBy100" class="form-label">Разход за 100km:</label>
                                        <input type="number" th:field="*{costBy100}" class="form-control" id="costBy100">
                                    </div>

                                    <div id="veh-fuelType-div" class="mb-3 box text-bg-secondary ">
                                        <label for="fuelType" class="form-label">Тип На Гориво:</label>
                                        <input type="text" th:field="*{fuelType}" class="form-control" id="fuelType">
                                    </div>

                                    <div id="veh-fuelPrice-div" class="mb-3 box text-bg-secondary ">
                                        <label for="fuelPrice" class="form-label">Цена На Литър:</label>
                                        <input type="number" th:field="*{fuelPrice}" step="0.01" min="0.01" max="100.00" class="form-control" id="fuelPrice">
                                    </div>

                                    <div id="veh-kilometers-div" class="mb-3 box text-bg-secondary ">
                                        <label for="kilometers" class="form-label">Километри:</label>
                                        <input type="number" th:field="*{kilometers}" class="form-control" id="kilometers">
                                    </div>
                                </section>
                            </section>
                            <button id="btn" onclick="validateBusinessTrip(this);" type="submit" class="btn p-3 mb-2 bg-warning text-dark">Готово</button>
                        </section>
                    </fieldset>
                </form>
            </div>
        </main>
    </div>

</body>

